.red{
    color:#ff4d4d
}

.blue{
    color:#4d4dff;
}

a.highlight{
    color: black;
    padding: 2px 0px 1px 0px;
    text-decoration: none;
    background-image: linear-gradient( transparent 0%,
        transparent calc(50% - 9px),
        rgba(255, 255, 102, 1) calc(50% - 9px),
        rgba(255, 255, 102, 1) 100% );
    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s;
    background-size: 100% 200%;
    background-position: 0px 0px;
    word-break: break-word;
}