.red{
    color:#ff4d4d
}

.blue{
    color:#4d4dff;
}

a.highlight{
    padding: 2px 0 1px 0;
    text-decoration: none;
    background-image: linear-gradient(transparent 0%,
        transparent calc(50% - 9px),
        rgba(255,255,102,0.35) calc(50% - 9px),
        rgba(255, 255, 102, 0.35) 100% );
    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s;
    background-size: 100% 200%;
    background-position: 0px 0px;
    word-break: break-word;
}