.red{
    color:#ff4d4d
}

.blue{
    color:#4d4dff;
}

.highlight{
    background-image: linear-gradient(transparent 0%,
        transparent calc(50% -9px),
        rgba(#ffff66) calc(50% -9px),
        rgba(#ffff66) 100% );
    background-size: 100% 200%;
    word-break: break-word;
    padding: 2px 0px 1px;
    transition: background-position 120ms ease-in-out 0s, padding 120ms ease-in-out 0s;
    background-position: 0px 0px;
}